speechrecognition==3.10.0
pyttsx3==2.90
pyaudio==0.2.13
flask==3.0.3
flask-socketio==5.3.6
flask-cors==4.0.0
eventlet==0.35.1
matplotlib==3.9.0
pyperclip==1.8.2
Flask==3.0.3
Flask-SocketIO==5.3.6
Flask-Cors==4.0.0
python-socketio==5.11.2
eventlet==0.35.1
